@{
    ViewBag.Title = "Home Page";
}

@* <div id="title">
    <h1>ViewBag.Title</h1>
</div> *@

<h2>@ViewBag.Message</h2>
<p>
    You've found where the heart is.
</p>
<pre>@ViewBag.UsersJSON</pre>

@* @if (ViewBag)
{
    <span>There is a ViewBag.</span>
}
*@
